<main>
    <div class="mat-progress-bar-container">
        <mat-progress-bar *ngIf="processing" mode="indeterminate"></mat-progress-bar>
    </div>

    <header>
        <h1>{{ data?.row ? 'Edit' : 'Add' }} Land Acquisition Information</h1>

        <!-- <p *ngIf="data.row">
            <span>Name of the Project</span>
            {{ data.row.ProjectName }}
        </p> -->

        <button mat-button (click)="onCloseDialog()">
            <mat-icon>clear</mat-icon>
        </button>
    </header>

    <form [formGroup]="form">   
        <mat-form-field appearance="fill" class="full-width">
            <mat-label>Duration <span class="required-field">required</span></mat-label>
            <input matInput [min]="today" formControlName="Duration" [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker disabled="false" startView="multi-year"></mat-datepicker>
            <mat-error *ngIf="form.get('Duration').invalid">{{ getDateErrorMessage() }}</mat-error>    
            <mat-hint align="end">Use the icon above to choose a date</mat-hint>
        </mat-form-field>       
                     
        <mat-form-field appearance="fill">
            <mat-label>Land Valued <span class="required-field">required</span></mat-label>
            <input matInput appDigitCommaSeparatorWithDecimals formControlName="LandValued" maxlength="56">
            <mat-error *ngIf="form.get('LandValued').invalid">{{ getErrorMessage() }}</mat-error>
        </mat-form-field>        

        <mat-form-field appearance="fill">
            <mat-label>Land Acquired <span class="optional-field">optional</span></mat-label>
            <input matInput appDigitCommaSeparatorWithDecimals formControlName="LandAcquired" maxlength="56">
            <mat-error *ngIf="form.get('LandAcquired').invalid">{{ getErrorMessage() }}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>PAPs Valued <span class="required-field">required</span></mat-label>
            <input matInput appDigitCommaSeparator formControlName="PAPsValued" maxlength="15">
            <mat-error *ngIf="form.get('PAPsValued').invalid">{{ getErrorMessage() }}</mat-error>
        </mat-form-field>        

        <mat-form-field appearance="fill">
            <mat-label>PAPS Paid <span class="optional-field">optional</span></mat-label>
            <input matInput appDigitCommaSeparator formControlName="PAPsPaid" maxlength="15">
            <mat-error *ngIf="form.get('PAPsPaid').invalid">{{ getErrorMessage() }}</mat-error>
        </mat-form-field>            

        <mat-form-field appearance="fill">
            <mat-label>Approved Amount for PAPs<span class="required-field">required</span></mat-label>
            <mat-hint matPrefix><b>UGX.</b> &nbsp;&nbsp;</mat-hint>
            <input matInput appDigitCommaSeparatorWithDecimals formControlName="AmountApproved" maxlength="56">
            <mat-error *ngIf="form.get('AmountApproved').invalid">{{ getErrorMessage() }}</mat-error>
        </mat-form-field>        

        <mat-form-field appearance="fill">
            <mat-label>Amount Paid to PAPS<span class="optional-field">optional</span></mat-label>
            <mat-hint matPrefix><b>UGX.</b> &nbsp;&nbsp;</mat-hint>
            <input matInput appDigitCommaSeparatorWithDecimals formControlName="AmountPaid" maxlength="56">
            <mat-error *ngIf="form.get('AmountPaid').invalid">{{ getErrorMessage() }}</mat-error>
        </mat-form-field>            

        <mat-form-field appearance="fill" class="full-width">
            <mat-label>KMs Acquired<span class="optional-field">optional</span></mat-label>
            <input matInput appDigitCommaSeparatorWithDecimals formControlName="KMsAcquired" maxlength="56">
            <mat-error *ngIf="form.get('KMsAcquired').invalid">{{ getErrorMessage() }}</mat-error>
        </mat-form-field>            

        <div class="button-wrapper">
            <button 
                color="warn" 
                mat-button 
                (click)="form.reset()" 
                [disabled]="processing">
                Clear Form
            </button>
    
            <button 
                mat-raised-button 
                [disabled]="processing || form.invalid"
                color="primary" 
                class="next-btn" 
                (click)="data?.row ? onSaveChanges() : onSave()">
                <div class="btn-label">
                    {{ data?.row ? 'Save Changes' : 'Submit' }}
                </div>                    
            </button>             
        </div>
    </form>

</main>